[user]
	name = Sovereign Shahid
	email = sovereignshahid@gmail.com
[init]
	defaultBranch = main
[pull]
	rebase = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
